color: #333333;.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}
.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #eeeeee url(modal-gloss.png) no-repeat -200px -80px;
  position: absolute;
  z-index: 101;
  padding: 30px 40px 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.reveal-modal.small {
  width: 200px;
  margin-left: -140px;
}
.reveal-modal.medium {
  width: 400px;
  margin-left: -240px;
}
.reveal-modal.large {
  width: 600px;
  margin-left: -340px;
}
.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px;
}
.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 40px;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  text-decoration: none;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
.carousel-indicators .active {
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}
/* Text on primary colour bg */
/* Text on secondary colour bg */
/* Text on tertiary colour bg */
/* Text on quarternary bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
/* Content BG - Tabs (active state) */
/* small, breadcrumbs etc */
html,
body {
  background-color: #333333;
  height: 100%;
  margin: 0;
  padding: 0;
}
#page {
  *zoom: 1;
  background-color: #ffffff;
  box-shadow: none;
  margin-top: 10px;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 48px;
  padding-bottom: 3.428571429rem;
}
#page:before,
#page:after {
  content: " ";
  display: table;
}
#page:after {
  clear: both;
}
#page:before,
#page:after {
  content: " ";
  display: table;
}
#page:after {
  clear: both;
}
#main.wrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#bodyWrapper {
  *zoom: 1;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
}
#bodyWrapper:before,
#bodyWrapper:after {
  content: " ";
  display: table;
}
#bodyWrapper:after {
  clear: both;
}
#bodyWrapper:before,
#bodyWrapper:after {
  content: " ";
  display: table;
}
#bodyWrapper:after {
  clear: both;
}
div#top {
  width: 100%;
  overflow: auto;
  min-height: 12px;
  min-height: 0.857142857rem;
  opacity: 0.9;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 0px #999;
}
div#top .top-content {
  font-size: 0.857142857rem;
  color: #333333;
  line-height: 1.5;
  text-align: center;
}
div#top a.headerIcon {
  color: #21759b;
  text-decoration: none;
}
div#top a.headerIcon:hover {
  color: #dd0079;
}
div#top a.headerIcon:active {
  color: #cc0068;
}
div#top #headerSpacer {
  display: inline;
  color: #706e6d;
  padding: 0 0.857142857rem;
}
div#top div#top-image {
  height: 36px;
  height: 2.571428571rem;
  margin-left: 12px;
  margin-left: 0.857142857rem;
  padding-top: 3px;
  padding-top: 0.21428571425rem;
  padding-bottom: 3px;
  padding-bottom: 0.21428571425rem;
  float: left;
}
div#top div#top-image img {
  height: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div#top div#top-image img:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div#top div#top-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 9px;
  padding-top: 0.64285714275rem;
  padding-bottom: 3px;
  padding-bottom: 0.21428571425rem;
}
div#top div#top-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 6px;
  padding-top: 0.4285714285rem;
  padding-bottom: 6px;
  padding-bottom: 0.4285714285rem;
}
header#masthead {
  padding-top: 0;
  padding-bottom: 12px;
  padding-bottom: 0.857142857rem;
}
header#masthead div#header-image-wrapper {
  width: 100%;
  max-width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header#masthead div#header-image-wrapper a img#header-image {
  margin-top: 0;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
header#masthead #site-navigation {
  margin-top: 6px;
  margin-top: 0.4285714285rem;
}
header#masthead #site-navigation div ul {
  padding: 0;
  box-shadow: none;
  border-style: none;
}
header#masthead #site-navigation div ul li {
  height: 100%;
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  margin-top: 3px;
  margin-top: 0.21428571425rem;
}
header#masthead #site-navigation div ul li a {
  vertical-align: middle;
  line-height: 27px;
  line-height: 1.9285714282500002rem;
  font-size: 14px;
  font-size: 0.9999999998333333rem;
  font-family: 'Lato', sans-serif;
}
header#masthead #site-navigation div ul li a:hover {
  color: #ee118a;
}
header#masthead #site-navigation div#togglesearchWrapper:hover {
  color: #ee118a;
}
header#masthead div#searchformWrapper {
  height: 0;
  width: 200px;
  overflow: hidden;
  margin-top: 6px;
  margin-top: 0.4285714285rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: height ease-out 0.5s;
  -moz-transition: height ease-out 0.5s;
  -o-transition: height ease-out 0.5s;
  transition: height ease-out 0.5s;
}
header#masthead div#searchformWrapper #s {
  float: left;
  width: 144px;
  width: 10.285714287rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 6px;
  margin-right: 0.4285714285rem;
  padding: 3px;
}
header#masthead div#searchformWrapper #searchsubmit {
  float: right;
  height: 23px;
  margin: 0;
  padding: 0 6px;
  line-height: 100%;
}
h1.page-title {
  font-size: 1.714285714rem;
  line-height: 120%;
  margin: 6px 0 0 0;
  margin: 0.4285714285rem 0 0 0;
}
img#categoryHeaderImage {
  width: 100%;
}
div.term-description {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
  padding-top: 12px;
  padding-top: 0.857142857rem;
  padding-bottom: 24px;
  padding-bottom: 1.714285714rem;
  border-bottom: 1px solid #999;
}
div.term-description p {
  margin: 0;
  padding: 0;
}
a img {
  padding: 0px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
a:hover img {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
img.wp-post-image {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
a:hover {
  color: #ee118a;
}
span.amount {
  color: rgba(221, 0, 121, 0.9);
}
.add_to_cart_button {
  font-size: 0.9rem;
  color: #706e6d;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
.add_to_cart_button:hover {
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.add_to_cart_button:active {
  background-image: none;
  background-color: rgba(221, 0, 121, 0.65);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #fff;
}
.quantity.buttons_added input[type=button] {
  background-image: none;
  background-color: #e3e3e3;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.quantity.buttons_added input[type=button]:hover {
  background-color: #f1f1f1;
}
.quantity.buttons_added input[type=button]:active {
  background-color: #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0);
}
.quantity.buttons_added input[type=number] {
  width: 24px;
  width: 1.714285714rem;
  text-align: center;
}
.quantity.buttons_added input[type=number]::-webkit-inner-spin-button,
.quantity.buttons_added input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.woocommerce-breadcrumb {
  *zoom: 1;
  margin: 0;
  padding: 0;
  font-size: 0.87rem;
  color: #777777;
}
.woocommerce-breadcrumb:before,
.woocommerce-breadcrumb:after {
  content: " ";
  display: table;
}
.woocommerce-breadcrumb:after {
  clear: both;
}
.woocommerce-breadcrumb:before,
.woocommerce-breadcrumb:after {
  content: " ";
  display: table;
}
.woocommerce-breadcrumb:after {
  clear: both;
}
.woocommerce-breadcrumb a {
  color: #777777;
}
.woocommerce-breadcrumb a:hover {
  color: #333333;
}
.woocommerce-message {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-top: 0.4285714285rem;
  margin-bottom: 0.4285714285rem;
}
div.product,
#content div.product {
  /* Summary div (contains title, price etc) */

}
div.product div.images,
#content div.product div.images {
  float: left;
  width: 48%;
  margin-top: 0.857142857rem;
  margin-bottom: 2rem;
}
div.product div.images img,
#content div.product div.images img {
  display: block;
  width: 100%;
  height: auto;
}
div.product div.images div.thumbnails,
#content div.product div.images div.thumbnails {
  padding-top: 1em;
  *zoom: 1;
}
div.product div.images div.thumbnails:before,
#content div.product div.images div.thumbnails:before,
div.product div.images div.thumbnails:after,
#content div.product div.images div.thumbnails:after {
  content: " ";
  display: table;
}
div.product div.images div.thumbnails:after,
#content div.product div.images div.thumbnails:after {
  clear: both;
}
div.product div.images div.thumbnails:before,
#content div.product div.images div.thumbnails:before,
div.product div.images div.thumbnails:after,
#content div.product div.images div.thumbnails:after {
  content: " ";
  display: table;
}
div.product div.images div.thumbnails:after,
#content div.product div.images div.thumbnails:after {
  clear: both;
}
div.product div.images div.thumbnails a,
#content div.product div.images div.thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
div.product div.images div.thumbnails a img:hover,
#content div.product div.images div.thumbnails a img:hover {
  box-shadow: 0 0 1px 1px #dd0079;
  -webkit-box-shadow: 0 0 1px 1px #dd0079;
  -moz-box-shadow: 0 0 1px 1px #dd0079;
}
div.product div.images div.thumbnails a.last,
#content div.product div.images div.thumbnails a.last {
  margin-right: 0;
}
div.product div.images div.thumbnails a.first,
#content div.product div.images div.thumbnails a.first {
  clear: both;
}
div.product div.summary,
#content div.product div.summary {
  float: right;
  width: 32%;
  margin-bottom: 0;
}
div.product div.summary .product_title,
#content div.product div.summary .product_title {
  margin-bottom: 6px;
  margin-bottom: 0.4285714285rem;
  font-size: 1.714285714rem;
}
div.product div.summary .price,
#content div.product div.summary .price {
  margin-bottom: 6px;
  margin-bottom: 0.4285714285rem;
  font-size: 1.2rem;
}
div.product div.summary div[itemprop="price"] p,
#content div.product div.summary div[itemprop="price"] p {
  margin-bottom: 6px;
  margin-bottom: 0.4285714285rem;
}
div.product div.summary .quantity.buttons_added,
#content div.product div.summary .quantity.buttons_added {
  width: auto;
  float: none;
  vertical-align: baseline;
}
div.product div.summary .button,
#content div.product div.summary .button {
  float: none;
  padding: 3px 6px 3px 6px;
  padding: 0.21428571425rem 0.4285714285rem 0.21428571425rem 0.4285714285rem;
  margin-top: 3px;
  margin-top: 0.21428571425rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
div.product div.summary .button:hover,
#content div.product div.summary .button:hover {
  background-image: none;
  border: 1px solid rgba(221, 0, 121, 0.7);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.product div.summary .button:active,
#content div.product div.summary .button:active {
  background-image: none;
  border: 1px solid rgba(221, 0, 121, 0.85);
  background-color: rgba(221, 0, 121, 0.65);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.product div.summary .button:active #single-add-to-cart-text,
#content div.product div.summary .button:active #single-add-to-cart-text,
div.product div.summary .button:active #single-add-to-cart-icon,
#content div.product div.summary .button:active #single-add-to-cart-icon {
  color: #fff;
}
div.product div.summary .button #single-add-to-cart-text,
#content div.product div.summary .button #single-add-to-cart-text {
  font-size: 0.9rem;
  color: rgba(221, 0, 121, 0.8);
  display: inline;
}
div.product div.summary .button #single-add-to-cart-icon,
#content div.product div.summary .button #single-add-to-cart-icon {
  font-size: 1rem;
  color: rgba(221, 0, 121, 0.8);
}
div.product div.summary .product_meta,
#content div.product div.summary .product_meta {
  clear: both;
  font-size: 0.87rem;
  color: #777777;
}
div.product div.summary .product_meta a:hover,
#content div.product div.summary .product_meta a:hover {
  color: #ee118a;
}
div.product .woocommerce-tabs .additional_information_tab,
#content div.product .woocommerce-tabs .additional_information_tab,
div.product .woocommerce-tabs .description_tab,
#content div.product .woocommerce-tabs .description_tab,
div.product .woocommerce-tabs .reviews_tab,
#content div.product .woocommerce-tabs .reviews_tab {
  display: none;
}
div.product .woocommerce-tabs .panel h2,
#content div.product .woocommerce-tabs .panel h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-top: 0.4285714285rem;
  margin-bottom: 0.4285714285rem;
}
div.product .woocommerce-tabs .panel p,
#content div.product .woocommerce-tabs .panel p {
  text-align: justify;
}
.related,
.upsells.products {
  clear: both;
  *zoom: 1;
  border-top: 1px solid #dd0079;
  padding-top: 24px;
  padding-top: 1.714285714rem;
}
.related:before,
.upsells.products:before,
.related:after,
.upsells.products:after {
  content: " ";
  display: table;
}
.related:after,
.upsells.products:after {
  clear: both;
}
.related:before,
.upsells.products:before,
.related:after,
.upsells.products:after {
  content: " ";
  display: table;
}
.related:after,
.upsells.products:after {
  clear: both;
}
.related ul.products,
.upsells.products ul.products,
.related ul,
.upsells.products ul {
  float: none;
  padding-top: 12px;
  padding-top: 0.857142857rem;
}
.related ul.products li.product,
.upsells.products ul.products li.product,
.related ul li.product,
.upsells.products ul li.product {
  width: 96px;
  width: 6.857142858rem;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
.related ul.products li.product img,
.upsells.products ul.products li.product img,
.related ul li.product img,
.upsells.products ul li.product img {
  width: 100%;
  height: auto;
}
ul.products {
  margin: 0;
  padding: 0;
}
ul.products li.product {
  padding: 0;
  position: relative;
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  margin-top: 12px;
  margin-top: 0.857142857rem;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
ul.products li.product .onsale {
  top: 0;
  right: 0;
  left: auto;
  margin: -6px -6px 0 0;
}
ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  color: #000;
  font-weight: normal;
  font-size: 12px;
}
ul.products li.product a {
  font-size: 12px;
  text-decoration: none;
}
ul.products li.product a h3 mark {
  background-color: rgba(0, 0, 0, 0);
  color: #777777;
}
ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 8px;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
ul.products li.product a:hover img {
  color: #000;
  border-radius: 0;
  box-shadow: 0 0 1px 1px #dd0079;
  -webkit-box-shadow: 0 0 1px 1px #dd0079;
  -moz-box-shadow: 0 0 1px 1px #dd0079;
}
ul.products li.product strong {
  display: block;
}
ul.products li.product .price {
  color: #41e042;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: .5em;
}
ul.products li.product .price del {
  font-size: 0.67em;
  color: rgba(145, 145, 145, 0.5);
  margin: -2px 0 0 0;
}
ul.products li.product .price ins {
  background: none;
}
ul.products li.product .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(145, 145, 145, 0.5);
}
ul.products li.product .added_to_cart {
  clear: both;
  font-size: 0.8em;
}
ul.products li.first {
  clear: both;
}
ul.products li.last {
  margin-right: 0;
}
.woocommerce-result-count {
  font-size: 0.87rem;
  color: #777777;
  line-height: 1.5;
  float: left;
  margin: 0 0 0.5em;
}
.woocommerce-ordering {
  margin: 0 0 0.5em;
  float: right;
}
.woocommerce-ordering select {
  vertical-align: top;
}
#homeWrapper {
  *zoom: 1;
}
#homeWrapper:before,
#homeWrapper:after {
  content: " ";
  display: table;
}
#homeWrapper:after {
  clear: both;
}
#homeWrapper:before,
#homeWrapper:after {
  content: " ";
  display: table;
}
#homeWrapper:after {
  clear: both;
}
#homeWrapper #carouselWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper .homeSectionWrapper {
  *zoom: 1;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  padding-bottom: 18px;
  padding-bottom: 1.2857142855rem;
}
#homeWrapper .homeSectionWrapper:before,
#homeWrapper .homeSectionWrapper:after {
  content: " ";
  display: table;
}
#homeWrapper .homeSectionWrapper:after {
  clear: both;
}
#homeWrapper .homeSectionWrapper:before,
#homeWrapper .homeSectionWrapper:after {
  content: " ";
  display: table;
}
#homeWrapper .homeSectionWrapper:after {
  clear: both;
}
#homeWrapper .homeSectionWrapper a {
  text-decoration: none;
}
#homeWrapper .homeSectionWrapper h1.page-title {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin: 0;
  line-height: 120%;
  text-align: center;
}
#homeWrapper .homeSectionWrapper p.woocommerce-result-count,
#homeWrapper .homeSectionWrapper form.woocommerce-ordering,
#homeWrapper .homeSectionWrapper .woocommerce-pagination {
  display: none;
}
#homeWrapper .homeSectionWrapper ul li {
  margin-bottom: 18px;
  margin-bottom: 1.2857142855rem;
}
#homeWrapper .homeSectionWrapper:hover h1.page-title {
  color: #dd0079;
}
#homeWrapper .homeSectionWrapperLast {
  border-bottom: none;
}
#homeWrapper .homeSectionProducts {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin: 0;
  padding: 0;
}
#homeWrapper #whatsNewWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #featuredWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #clothingWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #clothingWrapper ul {
  padding: 0;
}
#homeWrapper #clothingWrapper ul li {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #bagsWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #bagsWrapper ul {
  padding: 0;
}
#homeWrapper #bagsWrapper ul li {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #accessoriesWrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#homeWrapper #accessoriesWrapper ul {
  padding: 0;
}
#homeWrapper #accessoriesWrapper ul li {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
table.cart .product-thumbnail,
#content table.cart .product-thumbnail {
  min-width: 32px;
}
table.cart img,
#content table.cart img {
  width: 32px;
  height: auto;
}
table.cart th,
#content table.cart th,
table.cart td,
#content table.cart td {
  vertical-align: middle;
}
table.cart a.remove,
#content table.cart a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
table.cart a.remove:hover,
#content table.cart a.remove:hover {
  background-color: red;
  color: #fff;
}
table.cart td.actions,
#content table.cart td.actions {
  text-align: right;
}
table.cart td.actions .coupon,
#content table.cart td.actions .coupon {
  float: left;
}
table.cart td.actions .coupon label,
#content table.cart td.actions .coupon label {
  display: none;
}
table.cart td.actions .coupon .input-text,
#content table.cart td.actions .coupon .input-text {
  width: 80px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #cacaca;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  line-height: 1em;
}
table.cart td.actions .button.alt,
#content table.cart td.actions .button.alt {
  float: right;
  margin-left: .25em;
}
table.cart input,
#content table.cart input {
  vertical-align: middle;
  line-height: 1em;
}
ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
  *zoom: 1;
  list-style: none;
}
ul.cart_list li:before,
ul.product_list_widget li:before,
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: " ";
  display: table;
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  clear: both;
}
ul.cart_list li:before,
ul.product_list_widget li:before,
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: " ";
  display: table;
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  clear: both;
}
ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
  font-weight: bold;
}
ul.cart_list li img,
ul.product_list_widget li img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  font-size: 0.8751em;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  float: left;
  clear: left;
  margin-right: .25em;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  margin-bottom: .5em;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total {
  border-top: 3px double #e3e3e3;
  padding: 4px 0 0;
}
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.widget_shopping_cart .buttons {
  *zoom: 1;
}
.widget_shopping_cart .buttons:before,
.widget_shopping_cart .buttons:after {
  content: " ";
  display: table;
}
.widget_shopping_cart .buttons:after {
  clear: both;
}
.widget_shopping_cart .buttons:before,
.widget_shopping_cart .buttons:after {
  content: " ";
  display: table;
}
.widget_shopping_cart .buttons:after {
  clear: both;
}
.cart-collaterals {
  *zoom: 1;
  width: 100%;
}
.cart-collaterals:before,
.cart-collaterals:after {
  content: " ";
  display: table;
}
.cart-collaterals:after {
  clear: both;
}
.cart-collaterals:before,
.cart-collaterals:after {
  content: " ";
  display: table;
}
.cart-collaterals:after {
  clear: both;
}
.cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.cart-collaterals .cross-sells {
  width: 48%;
  float: left;
}
.cart-collaterals .cross-sells ul.products {
  float: none;
}
.cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.cart-collaterals .shipping_calculator {
  width: 48%;
  text-align: right;
  *zoom: 1;
  margin: 20px 0 0 0;
  clear: right;
  float: right;
}
.cart-collaterals .shipping_calculator:before,
.cart-collaterals .shipping_calculator:after {
  content: " ";
  display: table;
}
.cart-collaterals .shipping_calculator:after {
  clear: both;
}
.cart-collaterals .shipping_calculator:before,
.cart-collaterals .shipping_calculator:after {
  content: " ";
  display: table;
}
.cart-collaterals .shipping_calculator:after {
  clear: both;
}
.cart-collaterals .shipping_calculator .button {
  width: 100%;
  float: none;
  display: block;
}
.cart-collaterals .shipping_calculator .col2-set .col-1,
.cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}
.cart-collaterals .cart_totals {
  float: right;
  width: 48%;
  text-align: right;
}
.cart-collaterals .cart_totals p {
  margin: 0;
}
.cart-collaterals .cart_totals p small {
  color: #777777;
  font-size: 0.83em;
}
.cart-collaterals .cart_totals table {
  border-collapse: separate;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 6px;
  padding: 0;
}
.cart-collaterals .cart_totals table tr:first-child th,
.cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.cart-collaterals .cart_totals table td,
.cart-collaterals .cart_totals table th {
  padding: 6px 3px;
}
.cart-collaterals .cart_totals table small {
  display: block;
  color: #777777;
}
.cart-collaterals .cart_totals table select {
  width: 100%;
}
.cart-collaterals .cart_totals .discount td {
  color: #41e042;
}
.cart-collaterals .cart_totals tr td,
.cart-collaterals .cart_totals tr th {
  border-top: 1px solid #e3e3e3;
  padding: 6px 6px;
}
.cart-collaterals .cart_totals a.button.alt {
  width: 193px;
  display: block;
  font-size: 0.92em;
}
form .required {
  color: #0079dd;
  border: none;
  cursor: auto;
}
form p {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin: 6px 0;
  margin: 0.4285714285rem 0;
}
form p label {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  text-align: right;
  clear: both;
}
form p input {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
form .clear {
  padding-top: 12px;
  padding-top: 0.857142857rem;
}
form p.buttonRow input {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  margin-left: 42.708333333333336%;
}
form a.lost_password {
  clear: both;
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  margin-left: 42.708333333333336%;
  text-decoration: none;
  text-align: center;
  max-width: 100%;
  display: block;
  padding-top: 6px;
  padding-top: 0.4285714285rem;
  font-size: 10px;
  font-size: 0.7142857141666668rem;
  color: #0079dd;
}
form input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #333333;
  -webkit-box-shadow: 0 0 3px 1px #333333;
  -moz-box-shadow: 0 0 3px 1px #333333;
  -webkit-transition: cubic-bezier(0, 0.82, 1, 0.21) 0.3s 0.2s;
  -moz-transition: cubic-bezier(0, 0.82, 1, 0.21) 0.3s 0.2s;
  -o-transition: cubic-bezier(0, 0.82, 1, 0.21) 0.3s 0.2s;
  transition: cubic-bezier(0, 0.82, 1, 0.21) 0.3s 0.2s;
}
.col-1,
.col-2 {
  border: 1px solid rgba(112, 110, 109, 0.15);
  padding: 12px;
  padding: 0.857142857rem;
  margin: 24px;
  margin: 1.714285714rem;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
}
.col-1:before,
.col-2:before,
.col-1:after,
.col-2:after {
  content: " ";
  display: table;
}
.col-1:after,
.col-2:after {
  clear: both;
}
.col-1:before,
.col-2:before,
.col-1:after,
.col-2:after {
  content: " ";
  display: table;
}
.col-1:after,
.col-2:after {
  clear: both;
}
.col-1 h2,
.col-2 h2 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 34.37499999999999%;
  text-align: center;
  font-size: 18px;
  font-size: 1.2857142855rem;
  font-weight: 300;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
footer#colophon {
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  min-height: 3.428571429rem;
  background-color: #333333;
  *zoom: 1;
  box-shadow: 0px 10px 10px -10px #111111 inset;
}
footer#colophon:before,
footer#colophon:after {
  content: " ";
  display: table;
}
footer#colophon:after {
  clear: both;
}
footer#colophon:before,
footer#colophon:after {
  content: " ";
  display: table;
}
footer#colophon:after {
  clear: both;
}
footer#colophon #footerWrapper {
  padding: 1.714285714rem 0;
  padding-bottom: 0;
  color: #706e6d;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
footer#colophon #footerNav {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
footer#colophon #footerNav p {
  text-align: center;
  margin: 0.21428571425rem;
  padding: 0;
}
footer#colophon #footerNav p a {
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1;
  text-decoration: none;
  color: #706e6d;
}
footer#colophon #footerNav p a:hover {
  color: #dd0079;
}
footer#colophon #footerNav #column1 {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
footer#colophon #footerNav #column2 {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
footer#colophon #footerPages {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
footer#colophon #footerPages p {
  text-align: center;
  margin: 0.21428571425rem;
  padding: 0;
}
footer#colophon #footerPages p a {
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1;
  text-decoration: none;
  color: #706e6d;
}
footer#colophon #footerPages p a:hover {
  color: #dd0079;
}
footer#colophon #footerPages #column3 {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
footer#colophon #footerPages #column4 {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
footer#colophon #footerSocial {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
footer#colophon #footerSocial a {
  text-decoration: none;
  color: #706e6d;
}
footer#colophon #footerSocial a:hover {
  color: #dd0079;
}
footer#colophon #footerSocial a#facebookSocial:hover {
  color: #4c68a2;
}
footer#colophon #footerSocial a#twitterSocial:hover {
  color: #00aced;
}
footer#colophon #footerSocial a#youtubeSocial:hover {
  color: #cc2222;
}
footer#colophon #footerSocial a#pinterestSocial:hover {
  color: #cd3037;
}
footer#colophon #footerSocial a#mailSocial:hover {
  color: #dd0079;
}
footer#colophon #footerSocialButtons {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  text-align: center;
}
footer#colophon .socialButton {
  padding: 0 0.857142857rem;
  margin: 0;
}
footer#colophon .site-info {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  border-top: solid 1px #3d3b3a;
  text-align: center;
  margin: 1.714285714rem 0;
}
footer#colophon .site-info a {
  color: #817f7e;
  text-decoration: none;
}
footer#colophon .site-info a:hover {
  color: #339a80;
}
