html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
}
#bodyWrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 87.142857145%;
  padding-bottom: 12.857142855000001rem;
}
#page {
  background-color: #ffffff;
  box-shadow: none;
  margin-top: 10px;
}
div#top {
  width: 100%;
  overflow: auto;
  min-height: 12px;
  min-height: 0.857142857rem;
  padding-top: 9px;
  padding-top: 0.64285714275rem;
  padding-bottom: 9px;
  padding-bottom: 0.64285714275rem;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 2px 0px #666;
}
div#top .top-content {
  font-size: 0.857142857rem;
  color: #787878;
}
div#top div#top-left {
  margin-left: 48px;
  margin-left: 3.428571429rem;
  margin-right: 48px;
  margin-right: 3.428571429rem;
  padding-top: 9px;
  padding-top: 0.64285714275rem;
  padding-bottom: 9px;
  padding-bottom: 0.64285714275rem;
}
div#top div#top-right {
  margin-left: 48px;
  margin-left: 3.428571429rem;
  margin-right: 48px;
  margin-right: 3.428571429rem;
  padding-top: 9px;
  padding-top: 0.64285714275rem;
  padding-bottom: 9px;
  padding-bottom: 0.64285714275rem;
}
header#masthead {
  padding-top: 0;
}
header#masthead div#header-image-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
header#masthead div#header-image-wrapper a img#header-image {
  margin-top: 12px;
  margin-top: 0.857142857rem;
  max-width: 400px;
  border-radius: 0px;
  box-shadow: none;
}
header#masthead #site-navigation {
  margin-top: 12px;
  margin-top: 0.857142857rem;
}
header#masthead #site-navigation div.nav-menu ul {
  box-shadow: none;
  border-style: none;
}
header#masthead #site-navigation li a {
  font-size: 14px;
  font-size: 0.9999999998333333rem;
  font-family: 'Lato', sans-serif;
}
header#masthead #site-navigation li a:hover {
  color: #ee118a;
}
footer {
  border-top: 1px solid #ededed;
  clear: both;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  margin-top: 1.714285714rem;
  margin-left: 0;
  margin-right: 0;
  height: 12.857142855000001rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer#colophon {
  background-color: #333333;
  width: 100%;
}
footer#colophon .site-info {
  float: right;
  padding-right: 1em;
}
footer#colophon .site-info a {
  color: #817f7e;
  text-decoration: none;
}
footer#colophon .site-info a:hover {
  color: #339a80;
}
