// VARIABLES
// All variables here so that you can quickly tweak them

@import "_mixins.less";
@import "_grid.less";
//@import "_woocommerce.less";

// Grid setup

@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

// Colors
@ybGray					: #706e6d;
@ybPink					: #dd0079;
@triadBlue 				: #0079dd;
@nocturneGreen			: #339a80;

@backgroundMainColor	: #fff;
@topFontColor			: #ccc;
@topBarColor			: #333;
@footerColor			: #333;

@mainTextColor			: #333;
@headingTextColor		: #333;
@subtleTextColor		: #777;
@highlightTextColor		: @ybPink + #111;
@buttonHoverTextColor   : @ybPink + #555;

@priceColor				: fade(@ybPink,90%);

// EMs, REMs, and other delightful sizes
@rem12					: 0.857142857rem;
@rem24					: 1.714285714rem;
@rem48					: 3.428571429rem;

@maxHeaderImageWidth	: 360px;
@maxFooterHeight		: 15*@rem12;

@bigHeadingTextSize		: @rem24 * 1.5;
@mediumHeadingTextSize	: @rem24;
@smallHeadingTextSize	: @rem12 * 1.5;
@subtleTextSize			: 0.87rem;

// Image parameters
@imageBorderPadding:0px;
@imageBorderPaddingRem:0 / 6;
@imageBorderColor:@ybGray;
@imageBorderThickness:1px;

// Product page
@imageSectionWidth:64%;

// Variables from WooCommerce
@primary: 			lighten(desaturate(@ybPink,40),10%) + #100;//#ee80bc; 									/* Primary colour for buttons (alt) */
@primarytext: 		desaturate(lighten(@primary,50%),18%);		/* Text on primary colour bg */

@secondary:			#e3e3e3;
//@secondary: 		desaturate(lighten(@primary,40%),18%);		/* Secondary buttons */
@secondarytext:	 	desaturate(darken(@secondary,60%),18%);		/* Text on secondary colour bg */

@tertiary:			#000;//#ee9;
@tertiarytext:	 	desaturate(darken(@primary,60%),18%);		/* Text on tertiary colour bg */

@quaternary:		#000;//#e9e;
@quaternarytext:	desaturate(darken(@quaternary,60%),18%);	/* Text on quarternary bg */

@highlight: 		spin( @primary, 150 ); 						/* Prices, In stock labels, sales flash */
@highlightext:		desaturate(lighten(@highlight,50%),18%);	/* Text on highlight colour bg */

@contentbg: 		#fff; 										/* Content BG - Tabs (active state) */
@subtext: 			#777; 										/* small, breadcrumbs etc */


// GLOBAL STYLES

html, body {
	background-color:@footerColor;
	height: 100%;
	margin: 0;
	padding: 0;
}

#page {
	background-color:@backgroundMainColor;
	box-shadow:none;
	
	margin-top: 10px;
	margin-top: 1rem;
	margin-bottom:0;
	padding-bottom: 48px;
	padding-bottom: @rem48;
}

#main.wrapper {
	.column(10);
	.push(1);
	.clearfix;
}

#bodyWrapper {
	background-color:@backgroundMainColor;
	width: 100%;	
}


// HEADER STYLES


// Top
div#top {	
	width:100%;
	overflow:auto;
	min-height:12px;
	min-height:@rem12;
	//padding-top:3px;
	//padding-top:@rem12 * 0.25;
	//padding-bottom:3px;
	//padding-bottom:@rem12 * 0.25;

	background-color:@topBarColor;

	box-shadow:0px 0px 2px 0px #666;

	.top-content {
		font-size:@rem12;
		color:@topFontColor;
		line-height: 2;

	}

	a.headerIcon {
		text-decoration: none;
	}

	a.headerIcon:hover {
		color: @ybPink;
	}

	#headerSpacer {
		display: inline;
		color: @ybGray;
		padding: 0 @rem12;
	}

	div#top-left {
		margin-left:48px;
		margin-left:@rem48;
		margin-right:48px;
		margin-right:@rem48;

		padding-top:9px;
		padding-top:@rem12 * 0.75;
		padding-bottom:9px;
		padding-bottom:@rem12 * 0.75;

	}

	div#top-right {
		margin-left:48px;
		margin-left:@rem48;
		margin-right:48px;
		margin-right:@rem48;

		padding-top:9px;
		padding-top:@rem12 * 0.75;
		padding-bottom:9px;
		padding-bottom:@rem12 * 0.75;
	}	
}

// Header
header#masthead {
	padding-top:0;

	div#header-image-wrapper {
		width:100%;
		max-width:@maxHeaderImageWidth;
		.center;

		a {
			img#header-image {
				// margin-top: 12px;
				// margin-top: @rem12;
				margin-top:0;
				width:100%;
				
				padding:0;
				border:none;
				border-radius: 0px;
				box-shadow: none;
			}
		}
	}

	#site-navigation {
		margin-top:6px;
		margin-top:@rem12 / 2;

		div.nav-menu ul {
			height:36px;
			height:@rem12 * 3;
			box-shadow:none;
			border-style:none;
			
			li {
				height:100%;

				a {
					vertical-align:middle;
					line-height:36px;
					line-height:@rem12 * 3;

					font-size:14px;
					font-size:@rem12 * 7 / 6;
					font-family:'Lato',sans-serif;

					&:hover {
						color: @ybPink + #111;		
					}
				}
				
			}
		}

		
	}	
}




// CONTENT STYLES
//.woocommerce, .woocommerce-page {

	h1.page-title {
		font-size:@mediumHeadingTextSize;
	}

	//img.attachment-shop_catalog {
	a img {
		padding: @imageBorderPadding;
		padding: @imageBorderPaddingRem;

		//border: @imageBorderThickness solid @imageBorderColor;
		border-radius:0;
		//.box_shadow(0,0px,2px,0,rgba(0,0,0,0.3));
		.box_shadow(0,0,3px,1px,rgba(0,0,0,0.3));
		//.transition();
	}

	a:hover img {
		.box_shadow(0,0,3px,1px,@ybPink);
		//border: @imageBorderThickness solid @ybPink + #222;
	}

	color:@mainTextColor;
	a:hover {
		color: @highlightTextColor;
	}

	span.amount {
		color:@priceColor;
	}

	.add_to_cart_button {
		padding:3px 6px 3px 6px;
		padding:@rem12 / 4 @rem12 / 2 @rem12 / 4 @rem12 / 2;

		background-color:fade(@triadBlue,80%);
		// border-top:1px solid @ybGray + #444;
		// border-left:1px solid @ybGray + #444;
		// border-right:1px solid @ybGray + #222;
		// border-bottom:1px solid @ybGray + #222;

		font-size:0.8rem;
		color:#fff;

		&:hover {
			color:#fff;
			background-color:fade(@triadBlue,75%);
		}

		&:active {
			background-color:@triadBlue;
			// border-right:1px solid @ybGray + #444;
			// border-bottom:1px solid @ybGray + #444;
			// border-left:1px solid @ybGray + #222;
			// border-top:1px solid @ybGray + #222;				
		}
	}

	.quantity.buttons_added {
					
		input[type=button] {
			background-image:none;
			background-color:#e3e3e3;
			.noshadows();

			&:hover {
				background-color:#f1f1f1;
			}

			&:active {
				background-color:#dcdcdc;
				border:1px solid rgba(0,0,0,0);
			}
		}

		input[type=number] {
			width:24px;
			width:@rem24;
			text-align:center;
			// margin-left:auto;
			// margin-right:auto;
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}

	.woocommerce-breadcrumb{
		
		.clearfix();
		margin: 0;
		padding:0;
		font-size: @subtleTextSize;
		color: @subtleTextColor;
		a {
			color: @subtleTextColor;
		}

		a:hover {
			color:@subtleTextColor - #444;
		}
	}


	// Product page styling
	div.product, #content div.product {
		div.images {

			float:left;
			width: 48%;
			margin-top: @rem12;
			margin-bottom: 2rem;

			img {
				display:block;
				width: 100%;
				height:auto;

				// padding: @imageBorderPadding;
				// padding: @imageBorderPaddingRem;

				// border: @imageBorderThickness solid @imageBorderColor;
				// border-radius:0;
				// //.box_shadow(0,0px,2px,0,rgba(0,0,0,0.3));
				// .box_shadow(0,0,0,0,rgba(0,0,0,0));
				// .transition();
			}

			div.thumbnails {
				padding-top: 1em;
				.clearfix;
				a {
					float:left;
					width: 30.75%;
					margin-right: 3.8%;
				}
				a.last {
					margin-right: 0;
				}
				a.first {
					clear:both;
				}
			}


		}

		/* Summary div (contains title, price etc) */
		div.summary {
			float: right;
			width: 32%;
			margin-bottom: 0;

			.product_title {
				font-size:@mediumHeadingTextSize;
			}

			.cart {
				
			}

			.button {
				padding:12px 36px 12px 36px;
				padding:@rem12 @rem24*1.5 @rem12 @rem24*1.5;

				border:none;
				border-radius:0;
				background-image:none;
				background-color:@triadBlue;
				

				&:hover {
					background-image:none;
					background-color:fade(@triadBlue,90%);
					.noshadows();
				}

				&:active {
					background-image:none;
					background-color:@triadBlue - #111;
					.noshadows();
				}

				#single-add-to-cart-text {
					font-size:1rem;
					color:#fff;
					display:none;
				}

				#single-add-to-cart-icon {
					font-size:1.2rem;
					color:#fff;
				}

			}



			.product_meta {
				font-size:@subtleTextSize;
				color:@subtleTextColor;
				a:hover {
					color:@ybPink + #111;
				}
			}



		} // end summary

		.woocommerce-tabs {
			.description_tab,
			.reviews_tab {
				display:none;
			}

			.panel {
				h2 {
					margin-top:6px;
					margin-bottom:6px;
					margin-top:@rem12 / 2;
					margin-bottom:@rem12 / 2;
				}
			}
		}



	}

	.related, .upsells.products {
		
		clear:both;
		.clearfix();
		border-top:1px solid @ybPink;

		padding-top:24px;
		padding-top:@rem24;

		ul.products, ul {
			float:none;
			padding-top:12px;
			padding-top:@rem12;
			li.product {
				width: 96px;
				width: @rem48 * 2;
				img {
					width: 100%;
					height:auto;
				}
			}
		}
	}

	ul.products {
		li.product {
			float:left;
	 		margin: 0 3.8% 2.992em 0;
	 		padding: 0;
	 		position: relative;
	 		width: 22.05%;
	 		margin-left: 0;
	 		.onsale {
	 			top: 0;
	 			right: 0;
	 			left:auto;
	 			margin: -6px -6px 0 0;
	 		}
	 		h3 {
	 			padding: .5em 0;
	 			margin: 0;
	 			color:#000;
	 			//font-family:"Lato",sans-serif;
	 			font-weight:normal;
	 			//text-transform:uppercase;

	 		}
	 		a {
	 			text-decoration:none;
	 		}
	 		a img {
	 			width: 100%;
	 			height:auto;
	 			display:block;
	 			margin: 0 0 8px;
	 		}
	 		a:hover img {
	 			color:#000;
	 		}
	 		strong {
	 			display:block;
	 		}
	 		.price {
	 			color: @highlight;
	 			display:block;
	 			font-weight:normal;
	 			margin-bottom: .5em;
	 			del {
	 				font-size: 0.67em;
	 				color:fade( desaturate( @highlight, 75% ), 50% );
	 				margin: -2px 0 0 0;
	 			}
	 			ins {
	 				background:none;
	 			}
	 			.from {
	 				font-size: 0.67em;
	 				margin: -2px 0 0 0;
	 				text-transform: uppercase;
	 				color:fade( desaturate( @highlight, 75% ), 50% );
	 			}
	 		}
	 	}
	 	li.first {
	 		clear:both;
	 	}
	 	li.last {
	 		margin-right: 0;
	 	}
	}

	.woocommerce-result-count {
		float: left;
		margin: 0 0 1em;
	}
	.woocommerce-ordering {
		margin: 0 0 1em;
		float: right;
		select {
			vertical-align: top;
		}
	}

//}


// CART STYLING
/* =Cart
	-------------------------------------------------------------- */

	table.cart, #content table.cart {
		.product-thumbnail {
			min-width: 32px;
		}
		img {
			width: 32px;
			height:auto;
		}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.5em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 1;
			.border_radius(100%);
			color: red;
			text-decoration: none;
			font-weight: bold;
		}
		a.remove:hover {
			background-color: red;
			color: #fff;
		}
		td.actions {
			text-align: right;
			.coupon {
				float:left;
				label {
					display:none;
				}
				.input-text {
					width: 80px;
					float:left;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;

					.inset_box_shadow(0, 1px, 4px, 0, rgba(0,0,0,0.1));

					border: 1px solid darken( @secondary, 10 );
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					//background: lighten(@secondary, 5) none;
					line-height: 1em;
				}
			}
			.button.alt {
				float: right;
				margin-left: .25em;
			}
		}
		input {
			//margin: 0;
			vertical-align: middle;
			line-height: 1em;
		}
	}


	/* =Cart Sidebar
	-------------------------------------------------------------- */

	ul.cart_list, ul.product_list_widget {
		list-style:none outside;
		padding: 0;
		margin: 0;
		li {
			padding: 4px 0;
			margin: 0;
			.clearfix;
			list-style:none;
			a {
				display:block;
				font-weight:bold;
			}
			img {
				float: right;
				margin-left: 4px;
				width: 32px;
				height:auto;
				.box_shadow(0,1px,2px,0,rgba(0,0,0,0.3));
			}
			dl {
				margin: 0;
				font-size: 0.8751em;
				padding-left: 1em;
				border-left: 2px solid rgba(0,0,0,0.1);

				dt {
					float:left;
					clear:left;
					margin-right: .25em;
				}

				dd {
					margin-bottom: .5em;
				}
			}
			.star-rating {
				float:none;
			}
		}
	}

	.widget_shopping_cart {
		.total {
			border-top: 3px double @secondary;
			padding: 4px 0 0;
			strong {
				min-width: 40px;
				display: inline-block;
			}
		}
		.buttons {
			.clearfix;
		}
	}


	/* =Cart Page
	-------------------------------------------------------------- */

	.cart-collaterals {
		.clearfix;
		width: 100%;
		.related {
			width: 30.75%;
			float:left;
		}

		.cross-sells {
			width: 48%;
			float:left;

			ul.products {
				float:none;

				li {
					width: 48%;
				}
			}
		}
		.shipping_calculator {
			width: 48%;
			text-align: right;
			.clearfix;
			margin: 20px 0 0 0;
			clear: right;
			float: right;
			.button {
				width: 100%;
				float:none;
				display:block;
			}
			.col2-set {
				.col-1, .col-2 {
					width: 47%;
				}
			}
		}
		.cart_totals {
			float: right;

			width: 48%;
			text-align: right;
			p {
				margin: 0;
				small {
					color: @subtext;
					font-size: 0.83em;
				}
			}
			table {
				border-collapse: separate;
				.border_radius(5px);
				margin: 0 0 6px;
				padding: 0;
				tr:first-child {
					th, td {
						border-top: 0;
					}
				}
				td, th {
					padding: 6px 3px;
				}
				small {
					display:block;
					color: @subtext;
				}
				select {
					width: 100%;
				}
			}
			.discount td {
				color: @highlight;
			}
			tr td, tr th {
				border-top: 1px solid @secondary;
				padding: 6px 6px;
			}
			a.button.alt {
				width: 193px;
				display:block;
				font-size: 0.92em;
			}
		}
	}


// FOOTER STYLES

footer#colophon {

	font-size: 12px;
	font-size: @rem12;
	line-height: 2;
	min-height: @rem48;
	background-color: @footerColor;
	.clearfix;

	#footerWrapper {
		padding: @rem24 0;
		color: @ybGray;
		.column(10);
		.push(1);
	}

	#footerNav {
		.column(4);
	}

	#footerDetailText {
		.column(4);
	}

	#footerSocial {
		.column(4);
		a {
			text-decoration: none;
			color: @ybGray;
		}
		a:hover {
		color: @ybPink;
		}
	}
	
	#footerSocialButtons {
		.column(12);
		text-align: center;
	}
	.socialButton {
		padding: 0 @rem12;
		margin: 0;
	}

	//Credits
	.site-info{
		.column(12);
		border-top: solid 1px @ybGray - #333;
		text-align: center;
		margin: @rem24 0;
		
		a {
			color: @ybGray + #111;
			text-decoration: none;
		}
		a:hover {
			color: @nocturneGreen;
		}
	}

	box-shadow:0px 10px 10px -10px #111 inset;
}
