// VARIABLES
// All variables here so that you can quickly tweak them

@import "_mixins.less";
//@import "_woocommerce.less";

@ybGray:#706e6d;
@ybPink:#dd0079;
@nocturneGreen: #339a80;

@backgroundMainColor:#fff;
@topColor:#787878;
@footerColor: #333;

@rem12:0.857142857rem;
@rem24:1.714285714rem;
@rem48:3.428571429rem;

@maxHeaderImageWidth:400px;
@maxFooterHeight: 15*@rem12;

// Image parameters
@imageBorderPadding:2px;
@imageBorderPaddingRem:@rem12 / 6;
@imageBorderColor:@ybGray;
@imageBorderThickness:1px;


// Product page
@imageSectionWidth:64%;

// Variables from WooCommerce
@primary: 			lighten(desaturate(@ybPink,40),10%) + #100;//#ee80bc; 									/* Primary colour for buttons (alt) */
@primarytext: 		desaturate(lighten(@primary,50%),18%);		/* Text on primary colour bg */

@secondary:			#e3e3e3;
//@secondary: 		desaturate(lighten(@primary,40%),18%);		/* Secondary buttons */
@secondarytext:	 	desaturate(darken(@secondary,60%),18%);		/* Text on secondary colour bg */

@tertiary:			#ee9;
@tertiarytext:	 	desaturate(darken(@primary,60%),18%);		/* Text on tertiary colour bg */

@quaternary:		#e9e;
@quaternarytext:	desaturate(darken(@quaternary,60%),18%);	/* Text on quarternary bg */

@highlight: 		spin( @primary, 150 ); 						/* Prices, In stock labels, sales flash */
@highlightext:		desaturate(lighten(@highlight,50%),18%);	/* Text on highlight colour bg */

@contentbg: 		#fff; 										/* Content BG - Tabs (active state) */
@subtext: 			#777; 										/* small, breadcrumbs etc */


// GLOBAL STYLES

html, body {
	background-color:@footerColor;
	height: 100%;
	margin: 0;
	padding: 0;
}

#page {
	background-color:@backgroundMainColor;
	box-shadow:none;
	
	margin-top: 10px;
	margin-top: 1rem;
	margin-bottom:0;
	padding-bottom: 48px;
	padding-bottom: @rem48;
}

#bodyWrapper {
	background-color:@backgroundMainColor;
	width: 100%;	
}


// HEADER STYLES



// Top
div#top {	
	width:100%;
	overflow:auto;
	min-height:12px;
	min-height:@rem12;
	padding-top:9px;
	padding-top:@rem12 * 0.75;
	padding-bottom:9px;
	padding-bottom:@rem12 * 0.75;

	background-color:#f1f1f1;

	box-shadow:0px 0px 2px 0px #666;

	.top-content {
		font-size:@rem12;
		color:@topColor;

	}

	div#top-left {
		margin-left:48px;
		margin-left:@rem48;
		margin-right:48px;
		margin-right:@rem48;

		padding-top:9px;
		padding-top:@rem12 * 0.75;
		padding-bottom:9px;
		padding-bottom:@rem12 * 0.75;

	}

	div#top-right {
		margin-left:48px;
		margin-left:@rem48;
		margin-right:48px;
		margin-right:@rem48;

		padding-top:9px;
		padding-top:@rem12 * 0.75;
		padding-bottom:9px;
		padding-bottom:@rem12 * 0.75;
	}	
}

// Header
header#masthead {
	padding-top:0;

	div#header-image-wrapper {
		max-width:@maxHeaderImageWidth;
		margin-left:auto;
		margin-right:auto;

		a {
			img#header-image {
				margin-top: 12px;
				margin-top: @rem12;
				
				max-width:@maxHeaderImageWidth;
				
				border-radius: 0px;
				box-shadow: none;
			}
		}
	}

	#site-navigation {
		margin-top:12px;
		margin-top:@rem12;

		div.nav-menu ul {
			box-shadow:none;
			border-style:none;
		}

		li a {
			font-size:14px;
			font-size:@rem12 * 7 / 6;
			font-family:'Lato',sans-serif;
		}

		li a:hover {
			color: @ybPink + #111;
		}
	}	
}




// CONTENT STYLES
.woocommerce, .woocommerce-page {
	div.product, #content div.product {
		div.images {

			float:left;
			width: 48%;
			margin-bottom: 2em;

			img {
				display:block;
				width: 100%;
				height:auto;

				padding: @imageBorderPadding;
				padding: @imageBorderPaddingRem;

				border: @imageBorderThickness solid @imageBorderColor;
				border-radius:0;
				//.box_shadow(0,0px,2px,0,rgba(0,0,0,0.3));
				.box_shadow(0,0,0,0,rgba(0,0,0,0));
				.transition();
			}

			div.thumbnails {
				padding-top: 1em;
				.clearfix;
				a {
					float:left;
					width: 30.75%;
					margin-right: 3.8%;
				}
				a.last {
					margin-right: 0;
				}
				a.first {
					clear:both;
				}
			}


		}

		/* Summary div (contains title, price etc) */
		div.summary {
			float: right;
			width: 32%;
			margin-bottom: 2em;

			.product_meta {
				font-size:0.92em;
				color:#777;
				a {
					color:@ybPink + #111;
				}
				a:hover {
					color:@ybPink + #445;
				}
			}

		}
	}
}



// FOOTER STYLES

footer {
	font-size: 12px;
	font-size: @rem12;
	line-height: 2;
	min-height: @rem48;
	background-color: @footerColor;
}

footer#colophon {

	#footerWrapper {
		.center;
		.clearfix;
		max-width: 800px;
	}

	#footerNav {
		float: left;
		height: 100px;
		width: 31%;
	}

	#footerDetailText {
		float: left;
		height: 100px;
		width: 31%;
	}

	#footerSocialBar {
		float: left;
		width: 31%;
		padding: @rem24 @rem24 @rem24 @rem24;
		a {
			padding: @rem24 @rem24 @rem24 @rem24;
			text-decoration: none;
			color: @ybGray;
		}
		a:hover {
		color: @ybPink;
		}
	}

	//Credits
	.site-info{
		clear: both;
		.center;
		text-align: center;
		max-width: 100%;
		margin:@rem24 @rem24 0 @rem24;
		a {
			color: @ybGray + #111;
			text-decoration: none;
		}
		a:hover {
			color: @nocturneGreen;
		}
	}

	box-shadow:0px 10px 10px -10px #111 inset;
}
