// VARIABLES

@rem12:0.857142857rem;
@rem24:1.714285714rem;
@rem48:3.428571429rem;

div#top-left {
	float:left;

	margin-left:48px;
	margin-left:@rem48;
	margin-right:48px;
	margin-right:@rem48;
}

div#top-right {
	float:right;
	margin-left:48px;
	margin-left:@rem48;
	margin-right:48px;
	margin-right:@rem48;
}
// 	input#s {
// 		margin-bottom:0;
// 	}
// }

header#masthead {

	#site-navigation {
		position:relative;
		border-top:1px solid #999;
		border-bottom:1px solid #999;

		div ul {
			li {
				display:inline-block;
				margin-left:0;
				margin-right:40px;
				margin-right:@rem12 * 3.33;
				width:auto;
			}
		}

		div#togglesearchWrapper {
			height:100%;

			position:absolute;
			right:0;
			top:0;

			div#searchformWrapper {
				margin:0;
				right:0;
			}

			i#navtogglesearch {
				line-height:1.8;
				vertical-align:middle;
			}

		}
	}
}


	
div.product, #content div.product {
	
	div.images {

		float:left;
		width: @imageSectionWidth;
		margin-bottom: 2em;
		
		img {
			//display:block;
			float:right;

			width: 74%;
			height:100%;
		}
		
		div.thumbnails {
			float:left;
			
			width:22%;
			height: 100%;

			padding-top:0;
			
			a {
				clear:both;
				width:100%;
				height:33%;
				margin-bottom: 5%;
				img {
					float:none;
					height:auto;
					//height:100%;
					width:auto;
					max-width:100%;
				}
			}
			
			a.last {
				margin-bottom: 0;
			}
			
			a.first {
				//clear:both;
			}

		}

	}

	div.summary {
		width: 96% - @imageSectionWidth;

		.quantity.buttons_added {
			margin-right:12px;
			margin-right:@rem12;
			float:left;
		}
		.button {
			float:left;

			// width:120px;
			// width:@rem24 * 5;

			vertical-align:baseline;

			#single-add-to-cart-text {
				display:inline;
			}
		}
	}

	.woocommerce-tabs {
		clear:none;
		float:right;

		width: 96% - @imageSectionWidth;
	}

}

ul.products {
	li.product {
		float:left;
		width:22.05%;
		margin-top:0;

		border-bottom:none;
	}
}

footer#colophon {

	#footerDetailText {
		.column(4);
		margin-bottom:0;
	}

	#footerSocial {
		.column(4);
		margin-bottom:0;
	}

	#footerNav {
		.column(4);
		margin-bottom:0;
	}
}