// VARIABLES

@rem12:0.857142857rem;
@rem24:1.714285714rem;
@rem48:3.428571429rem;

div#top-left {
	float:left;
}

div#top-right {
	float:right;
}

header#masthead {

	#site-navigation {
		border-top:1px solid #999;
		border-bottom:1px solid #999;
	}
}

