
//Quickly center any element within its parent. Requires width or max-width to be set.
.center() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// The micro clearfix hack is a way to contain floats without resorting to using presentational markup. From Nicolas Gallager.

.clearfix() {
	&:before,
	&:after {
		content: " ";
    	display: table;
  	}
	&:after {
    	clear: both;
	}
}

// No shadows
.noshadows() {
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

// A better vertical gradient mixin
.gradient-vertical(@startColor, @endColor) {
 
    // IE9 prep
    @dataPrefix: ~"url(data:image/svg+xml;base64,";
    @dataSuffix: ~")";
    @dataContent: ~'<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="g743" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop stop-color="@{startColor}" offset="0"/><stop stop-color="@{endColor}" offset="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#g743)"/></svg>';
    @b64Out: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataPrefix}','@{dataContent}','@{dataSuffix}')`;
 
    background-color: mix(@startColor, @endColor, 60%); // Base solid colour fallback
    background-image: ~"@{b64Out}"; // IE9
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    background-repeat: repeat-x;
 
}

// More useful mixins from WooCommerce

@woocommerce: #ad74a2;

.border_radius(@radius:4px) {
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
.border_radius_right(@radius:4px) {
  -webkit-border-top-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-bottomright: @radius;
  border-top-right-radius: @radius;
  border-bottom-right-radius: @radius;
}
.border_radius_left(@radius:4px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}
.border_radius_bottom(@radius:4px) {
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-left-radius: @radius;
  border-bottom-right-radius: @radius;
}
.border_radius_top(@radius:4px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}
.opacity(@opacity:0.75) {
  filter:~"alpha(opacity=@opacity * 100)";
  -moz-opacity:@opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
}
.box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888) {
  box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
  -webkit-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
  -moz-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}
.inset_box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888) {
  box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
  -webkit-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
  -moz-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}
.text_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_color:#fff) {
  text-shadow:@shadow_x @shadow_y @shadow_rad @shadow_color;
}
.vertical_gradient(@from: #000, @to: #FFF) {
  background: @from;
  background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
  background: -webkit-linear-gradient(@from, @to);
  background: -moz-linear-gradient(center top, @from 0%, @to 100%);
  background: -moz-gradient(center top, @from 0%, @to 100%);
}
.transition(@selector:all, @animation:ease-in-out, @duration:.2s) {
  -webkit-transition:@selector @animation @duration;
  -moz-transition:@selector @animation @duration;
  -o-transition:@selector @animation @duration;
  transition:@selector @animation @duration;
}

.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  -ms-transform:scale(@ratio);
  -o-transform:scale(@ratio);
  transform:scale(@ratio);
}

.borderbox () {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.clear { clear: both; }
.nobr { white-space: nowrap; }

.darkorlighttextshadow ( @a, @opacity: 0.8 ) when (lightness(@a) >= 65%) { .text_shadow( 0, -1px, 0, rgba(0,0,0,@opacity) ); }
.darkorlighttextshadow ( @a, @opacity: 0.8 ) when (lightness(@a) < 65%) { .text_shadow( 0, 1px, 0, rgba(255,255,255,@opacity) ); }